# Build folders
Debug/
Release

# Machine specific files
.vs/

# Dll library files
common_libraries/dll.lib
common_libraries/dlld.lib

# Dll headers
common_includes/save.h

# Doxygen documentation
doxygen/html
